@import "../../scss/variables";

.btn {
  padding: 11px 25px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: $extraLargFontSize;

  &:focus {
    border: 1px solid transparent;
    outline: 0;
  }

  &.primary {
    background-color: $primaryColor;
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
  }

}