@import './../../scss/variables';

.conversataion-header {
  min-height: 10%;
  background-color: $primaryColor;
  color: $white;
  padding: 10px 20px;

  .user-name {
    font-weight: normal;
    text-transform: capitalize;
  }
}