* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $primaryColor $grayLight;
}

body {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;   
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

/* ============= 
Custom style for the scrolls
Works on Chrome/Edge/Safari
 ============= */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: $grayLight;
}
*::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 20px;
}