/* ============= Colors ============= */
$primaryColor: #48e9e1;
$gray: #9C9C9C;
$grayDark: #4d4d4d;
$grayLight: #f0f0f0;
$white: #ffffff;
$black: #000000;

/* ============= Fonts ============= */
$extraLargFontSize: 1.125rem; //18px
$largFontSize: 1rem; //16px;
$baseFontSize: 0.875rem; //14px
$meduimFontSize: 0.75rem; //12px
$smallFontSize: 0.625rem; //10px